body{
  background-color:#EAF6F6;
  margin: 0px;
  font-family: serif;
}
hr{
   border-style: none;
   border-top-style: dotted ;
   border-color: grey;
   border-width: 5px;
   width: 5%;
}
h1{
    color: #66BFBF;
    margin-top: 0px;
}
h3{
    color: #66BFBF;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  text-align: center;
}

.top-cloud{
  position: absolute;
  right:300px;
}

.bottom-cloud{
  position: absolute;
  left:300px;
  bottom: 50px;
}